<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vida y Salud</title>
    <link rel="shortcut icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/unicons.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../css/tooplate-style.css">
    <link rel="stylesheet" href="../css/styles.css">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
      
        <div class="container">
            
          <img src="../img/logogo.png" class="logogo" alt="logo image">
          
            <a class="navbar-brand" href="/">Vida y Salud</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Ejercicios</a>
                        <ul class="submenu">
                      
                          <li class="list-submenu">
                            <a href="/puzle2" class="nav-link" >Juega con Beto</a>
                          </li>
                          <li class="list-submenu">
                            <a href="/puzle3"class="nav-link">Juega con Ana</a>
                          </li>
                          <li class="list-submenu">
                            <a href="/puzle4" class="nav-link">Juega con Cris</a>
                          </li>
                          <!-- <li class="list-submenu">
                            <a href="/puzle5" class="nav-link">Juega Sano</a>
                          </li>
                          <li class="list-submenu">
                            <a href="/puzle6" class="nav-link">Juega con Cris</a>
                          </li> -->
                          
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#video" class="nav-link">Nutrición</a>
                    </li>
                    <li class="nav-item">
                      <a href="/tips" class="nav-link">Tips</a>
                  </li>
                    <!--
                      <li class="nav-item">
                        <a href="#resume" class="nav-link">Usuario</a>
                        <ul class="submenu">
                          <li class="list-submenu">
                            <a href="/registerForm" class="nav-link" >Crea tu usuario</a>
                          </li>
                          <li class="list-submenu">
                            <a href="/loginForm"class="nav-link">Ingresa</a>
                          </li>
                          
                        </ul>
                      </li>

                    -->
                    
                </ul>

                 
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Bienvenidos a <span class="mobile-block">este espacio!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hola amigos yo soy Pop y seré tu Amigo</span>
                                <!-- <div class="animated-info">
                                    <span class="animated-item">Compañero</span>
                                    <span class="animated-item">Amigo</span>
                                </div> -->
                        </h1>
                          <br>
                        <p>Acompañame por este viaje de aprendizaje, donde juntos descubriremos lo fácil y divertido que es cuidar tu salud</p>
                        
                  
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="../img/zanahoria4.jpg" class="pop" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Con esta información podrás mejorar tu estilo de vida y ser más saludable</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <!--VIDEO-->
                        <div class="item">
                          <div class="project-info">
                            <video src="../videos/nutricion.mp4" controls class="video" id="video"></video>
                          </div>
                      </div>
                  
                      </div>
                      <!--DESCANSO-->
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="project-info">
                              <img src="../img/descanso1.jpg" class="img-fluid" alt="DESCANSO">
                            </div>
                        </div>
                        
                        <div class="item">
                          <div class="project-info">
                            <img src="../img/descanso2.jpg" class="img-fluid" alt="DESCANSO">
                          </div>
                      </div>
                      
                      <div class="item">
                        <div class="project-info">
                          <img src="../img/descanso3.jpg" class="img-fluid" alt="DESCANSO">
                        </div>
                    </div>
                    <div class="item">
                      <div class="project-info">
                        <img src="../img/descanso4.jpg" class="img-fluid" alt="DESCANSO">
                      </div>
                  </div>   
                        
                                     
                      </div>
                      <!--NUTRICION-->
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="project-info">
                              <img src="../img/nutricion1.jpg" class="img-fluid" alt="DESCANSO">
                            </div>
                        </div>
                        
                        <div class="item">
                          <div class="project-info">
                            <img src="../img/nutricion2.jpg" class="img-fluid" alt="DESCANSO">
                          </div>
                      </div>
                      
                      <div class="item">
                        <div class="project-info">
                          <img src="../img/nutricion3.jpg" class="img-fluid" alt="DESCANSO">
                        </div>
                    </div>
                    <div class="item">
                      <div class="project-info">
                        <img src="../img/nutricion4.jpg" class="img-fluid" alt="DESCANSO">
                      </div>
                  </div>                    
                      </div>
                      <!--DEPORTE-->
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="project-info">
                              <img src="../img/deporte1.jpg" class="img-fluid" alt="DESCANSO">
                            </div>
                        </div>
                        
                        <div class="item">
                          <div class="project-info">
                            <img src="../img/deporte2.jpg" class="img-fluid" alt="DESCANSO">
                          </div>
                      </div>
                      
                      <div class="item">
                        <div class="project-info">
                          <img src="../img/deporte3.jpg" class="img-fluid" alt="DESCANSO">
                        </div>
                    </div>                  
                      </div>
                      <img src="../img/qr.jpg" class="qr_img"  alt="DESCANSO">
                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    
    <!-- FOOTER -->
     <footer class="footer py-5">
      
      <div class="icon-container">
        
        <div class="icons">
          <a href="#" class="icon icon--instagram">
            <img src="../img/instagram.svg">
          </a>
        </div>
        <div class="icons">
          <a href="#" class="icon icon--facebook">
            <img src="../img/facebook.svg" >
          </a>
        </div>
      </div>
          
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2022 Vida y Salud . All rights reserved</p>
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/Headroom.js"></script>
    <script src="../js/jQuery.headroom.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/custom.js"></script>

  </body>
</html>