<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>juego</title>
    <link rel="stylesheet" href="../public/PUZLE5_resources/css/puzle5.css">
    <script src="../public/PUZLE5_resources/js/puzle5.js"></script>
  </head>
  <body class="loading show-loading-progress show-fullscreen-btn show-monitor-box">
    <div id="wrapper">
      <canvas id="stage"></canvas>
      <div id="monitors"></div>
      <div id="asking-box">
        <label id="question" for="answer">Question</label>
        <input type="text" id="answer" />
      </div>
    </div>
    <div id="loading-progress" data-progress="0%"></div>
     
    <div class="buttons">
      <!--
        Only support sprite files (no images) for now. See
        https://github.com/SheepTester/htmlifier/issues/67#issuecomment-894746718
      -->
      <input
        type="file"
        id="add-sprite-file"
        accept=".sprite2, .sprite3"
        aria-label="Select a Scratch sprite to add"
        multiple
      />
      <label
        class="button"
        id="add-sprite-btn"
        for="add-sprite-file"
        title="Add Scratch sprite to project"
      ></label>
      <button id="download-btn" aria-label="Download Scratch project"></button>
      <button id="start-btn" aria-label="Start"></button>
      <button id="stop-btn" aria-label="Stop" disabled></button>
      <button id="fullscreen-btn" aria-label="Enter/exit fullscreen"></button>
    </div>
    <textarea id="errors" readonly></textarea>
    
  </body>
</html>
