<!DOCTYPE html>
<!--Created by Ardora - www.webardora.net-->
<!--ArdoraPuzle-->
<!--bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor-->
<html lang="es">
  <head><meta charset="utf-8" /><title>Ahorcados </title>
    <link rel="shortcut icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/unicons.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../css/tooplate-style.css">
    <link href="../css/ardoraAfor.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="../js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="../js/jquery.ui.touch-punch.min.js"></script>
    <script language="javascript" type="text/javascript" src="../js/ardoraAforCFG.js"></script>
    <script language="javascript" type="text/javascript" src="../js/ardoraScorm.js"></script>
    <script language="javascript" type="text/javascript" src="../js/ardoraAfor.js"></script>
    <script language="javascript" type="text/javascript" src="../js/ardoraTab.js"></script>
    </head>
<body onLoad="loadPage()" onbeforeunload="unloadPage()" onUnload="unloadPage()">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">Vida y Salud</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a href="/" class="nav-link">Inicio</a>
              </li>
              <li class="nav-item">
                  <a href="#resume" class="nav-link">Ejercicios</a>
                  <ul class="submenu">
                
                    <li class="list-submenu">
                      <a href="/puzle2" class="nav-link" >Juega con Beto</a>
                    </li>
                    <li class="list-submenu">
                      <a href="/puzle3"class="nav-link">Juega con Ana</a>
                    </li>
                    <li class="list-submenu">
                      <a href="/puzle4" class="nav-link">Juega con Cris</a>
                    </li>
                    <li class="list-submenu">
                      <a href="/puzle5" class="nav-link">Aprende más!</a>
                    </li>
                    <li class="list-submenu">
                      <a href="/puzle6" class="nav-link">¿Es saludable?</a>
                    </li>
                    
                    
                  </ul>
              </li>
              <li class="nav-item">
                  <a href="#video" class="nav-link">Nutrición</a>
              </li>
              <li class="nav-item">
                <a href="/tips" class="nav-link">Tips</a>
            </li>
            <li class="nav-item">
              <a href="/conozcanos" class="nav-link">Conózcanos</a>
          </li>
              <!--
                <li class="nav-item">
                  <a href="#resume" class="nav-link">Usuario</a>
                  <ul class="submenu">
                    <li class="list-submenu">
                      <a href="/registerForm" class="nav-link" >Crea tu usuario</a>
                    </li>
                    <li class="list-submenu">
                      <a href="/loginForm"class="nav-link">Ingresa</a>
                    </li>
                    
                  </ul>
                </li>

              -->
              
          </ul>

           
      </div>
    </div>
  </nav>
  <div class="main-game">
    <div id="ardoraMain" class="main-game">
      <div id="ardoraEnu"><SPAN style="font-size:24px;color:#000000">Adivina la palabra </SPAN><SPAN style="font-size:24px;color:#000000">segun</SPAN><SPAN style="font-size:24px;color:#000000"> las pistas dadas </SPAN></div>
        <div id="ardoraAct">
        <div id="ardoraQuest"></div><div id="ardoraImage"></div>
      <canvas id="ardoraActCanvas" width="2px" height="2px"></canvas>
        </div>
      <div id="ardoraTab">
        <canvas id="ardoraTabCanvas" width="70" height="98"></canvas>
      </div></div>
      <div id="ardoraAlumSCORM"><p class="pe"></p></div>
      <div id="ardoraAutor"><p></p></div>
  </div>
  
</body></html>
